body {
    font-family: 'Roboto', sans-serif;
}

.jp-color {
    color: #372aee;
}

.jp-bg-color {
    background-color: #372aee;
}

.jlogo {
    width: 100px;
}

#jheader {
    background-color: #dddddd;
    min-height: 40vh;
}

.jinput {
    outline: none ;
    box-shadow: none !important;
    border: none;
}

.jsearch_box {
    border-radius: 10px;
}

.jsearch_box i {
    color: #372aee;
}

.jrow {
    display: flex;
    align-items: center;
}

.jcartegory {
    text-decoration: none;
}

.jcartegory .card {
    height: 80px;
    overflow: hidden;
}

.jcartegory .card:hover {
    color: #fff;
    background-color: #372aee;
}

footer {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul li::before {
    content: "\00BB";
    margin-right: 10px;
}

.jfooter_cat_header {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}


.jfooter_cat_ul_li {
    margin-bottom: 10px;
}

.jfooter_cat_ul_li::before {
    list-style-type: none !important;
    content: none !important;
}

.jfooter_cat_ul  li:hover {
    color: #372aee;
}

.jfooter_email {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .jcartegory {
        margin-top: 10px;
    }
}