body {
    font-family: 'Roboto', sans-serif;
}

.jp-color {
    color: #0066cc;
}

.jp-bg-color {
    background-color: #0066cc;
}

.jbutton {
    border: #0066cc solid 1px;
    background-color: #fff !important;
    color: #0066cc !important;
    font-weight: bold;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.jbutton:hover {
    background-color: #0066cc !important;
    color: #fff !important;
}

.cursor-pointer {
    cursor: pointer;
}

.jlogo {
    width: 6.25rem;
}

#jheader {
    background-color: #dddddd;
    min-height: 60vh;
    color: #fff !important;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
}

.jnavitem {
    font-weight: bold;
    transition: all 0.2s;
}

.jnavitem a:hover {
    color: #0066cc !important
}

.flag_header img {
    width: 1rem;
}

.jbutton-cta {
    text-decoration: none;
    background-color: #0066cc;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    border-radius: 2%;
    transition: all 0.2s;
}

.jbutton-cta:hover {
    background-color: #ffffff;
    color: #0066cc;
}

.jinput {
    outline: none ;
    box-shadow: none !important;
    border: none;
}

.jsearch_box {
    border-radius: 10px;
}

.jsearch_box i {
    color: #0066cc;
}

.jcole-10 {
    width: 100%;
}

.jselect {
    width: 100%;
    outline: none ;
    box-shadow: none !important;
    border: none;
    border-left: 1px solid #0066cc;
}

.jrow {
    display: flex;
    align-items: center;
}

.jcartegory {
    text-decoration: none;
}

.jcartegory .card {
    height: 80px;
    overflow: hidden;
}

.jcartegory .card:hover {
    color: #fff;
    background-color: #0066cc;
}

.jcard-title {
    font-weight: bold;
}

footer {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul li::before {
    content: "\00BB";
    margin-right: 10px;
}

.jfooter_cat_header {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}


.jfooter_cat_ul_li {
    margin-bottom: 10px;
}

.jfooter_cat_ul_li::before {
    list-style-type: none !important;
    content: none !important;
}

.jfooter_cat_ul  li:hover {
    color: #0066cc;
}

.jfooter_email {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .jcartegory {
        margin-top: 10px;
    }
}